* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1980px;
    margin: 20px auto;
}

.content {
    text-align: center;
    color: white;
    padding: 10px;
    background-color: blue;
    border: 1px solid rgb(255, 255, 255);
}

.content.bg-green {
    background-color: greenyellow;
    border: 1px solid blue;
}

.h-40 .content {
    height: 40px;
    max-height: 40px;
}