body {
    font-size: 4em;
}

header {
    border: 20px inset #ffffff;
    font-family: 'Arcade Normal', sans-serif;
}

main {
    background-color: black;
    padding: 50px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container.main {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
}

.j-btw {
    justify-content: space-between;
}

.j-center {
    justify-content: center;
}

.super {
    vertical-align: super;
}

.bg-red {
    background-color: red;
}

.score {
    background-color: black;
    color: red;
    border: 1px double white;
    padding: 5px 20px 0 20px;
}

.container {
    background-color: #cccccc;
    text-align: center;
}

.content.hamb-menu {
    border: 20px outset #ffffff;
    width: 100px;
    height: 100px;
}

.container.main {
    border: 10px outset orange;
}

.content {
    border: 1px solid black;
    height: 100%;
}

.green {
    color: green;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.outset {
    border: 20px outset #ffffff;
}

@media screen and (max-width: 770px) {
    .score {
        display: none;
    }

}