body {
    font-size: 4rem;
}

header {
    border: 20px inset #ffffff;
    font-family: 'Arcade Normal', sans-serif;
}

main {
    background-color: black;
    padding: 50px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container.main {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
}


.j-center {
    justify-content: center;
}



.bg-red {
    background-color: red;
}

.score {
    background-color: black;
    color: red;
    border: 1px double white;
    padding: 5px 20px 0 20px;
}

.container {
    background-color: #cccccc;
    text-align: center;
}

.content.hamb-menu {
    border: 20px outset #ffffff;
}

.container.main {
    border: 10px outset orange;
}

.content {
    border: 1px solid black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green {
    color: green;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.outset {
    border: 20px outset #ffffff;
}


@media screen and (min-width: 794px) and (max-width: 1200px) {

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header {
        font-size: 2rem;
    }

    .content.hamb-menu {
        border: 15px outset #ffffff;
    }




}

@media screen and (max-width: 794px) {
    .score {
        display: none;
    }

    header {
        font-size: 1.5rem;
    }

    main {
        font-size: 2rem;
    }


    .content.hamb-menu {
        border: 10px outset #ffffff;
    }

    .outset {
        border: 15px outset #ffffff;
    }


}

@media screen and (max-width: 576px) {
    .none {
        display: none;
    }

    header {
        font-size: 3rem;
    }

    main {
        font-size: 3rem;
    }


    .content.hamb-menu {
        border: 5px outset #ffffff;
    }

    .outset {
        border: 15px outset #ffffff;
    }


}